@import "../variables.scss";


//SIMPLE STYLE
.eachDragon {
    display: flex;
    width: 500px;
    height: 700px;
    margin: 15px;
    border-radius: 10%;

    .simpleStyle {
        display: block;
        align-items: center;
        justify-content: center;

        .small-image {
            width: 80%;
        }
    }
}


//DRAGON MODAL
.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.modal.show {
    opacity: 1;
    pointer-events: visible;
}

.modal-content {
    width: auto;
    display:flex;
    border-radius: 15px;
}
.modal-left,
.modal-right{
    display: inline-block;
    padding: 5px;
    width:85vw;
    max-width: 600px;
}

.modal-image{
    width:85vw;
    max-width: 100%;
}


.modal-header,
.modal-footer {
    padding: 20px
}


// 
@media only screen and (max-width: 1000px) {
    .modal-content{
        width:85vw;
    }
  }