.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.form-input {
    padding: 5px;
}

.form-control {
    width: 300px;
    height: 25px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.select-1 {
    width: 300px;
    height: auto;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.submit-1 {
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: black;
    background-color: #62569c;
}

.submit-1:hover {
    background-color: #3E375F;
    color: white;
}

.lgbutton {
    display: flex;
    justify-content: center;
}

.heading {
    display: flex;
    justify-content: center;
}



