// Buttons
@import "./variables.scss";

@mixin button ($color, $hover-color) {
    background: 0 0;
    font: 11px;
    font-family: $body-font;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid $hover-color;
    float: right;
    border-radius: 4px;
    float: left;
    text-align: center;
    margin-left: 60px;
    box-shadow: 5px 5px 5px $color;
    text-transform: uppercase;
    font-weight: bolder;
    color: $color;

    &:hover {
        background: $color;
        color: $hover-color;
    }
}