@import url("https://fonts.googleapis.com/css2?family=Charm&family=Edu+NSW+ACT+Foundation:wght@500&family=Klee+One:wght@600&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm&family=Edu+NSW+ACT+Foundation:wght@500&family=Klee+One:wght@600&family=Shadows+Into+Light&display=swap");
#body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Charm", cursive;
}

h2,
h3 {
  font-family: "Klee One", cursive;
}

nav {
  position: sticky;
  top: 0;
  z-index: 40;
  flex-shrink: 1;


header {
  position: sticky;
  top: 135px;
  display: flex;
}
header .header-images {
  position: absolute;
  top: -20px;
  height: 350px;
}
header #right-light,
header #right-dark {
  right: 0;
}

.container {
  text-align: center;
  margin-top: 3%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 3%;
  padding: 75px;
  border-radius: 35px;
}

.dragons {
  display: flex;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  height: 100px;
  bottom: 0;
  display: flex;
  position: sticky;
  bottom: 0;
}
footer .copyright {
  position: absolute;
  left: 40%;
}
footer .footer-images {
  position: absolute;
  bottom: 0;
  height: 350px;
}
footer #right-light,
footer #right-dark {
  right: 0;
}

/* Dark and light themes */
.dark {
  background-color: #3E375F;
  color: #e9e3f0;
}
.dark button {
  background: 0 0;
  font: 11px;
  font-family: "Klee One", cursive;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid #1a1534;
  border-radius: 4px;
  text-align: center;
  margin-left: 60px;
  box-shadow: 5px 5px 5px #e9e3f0;
  text-transform: uppercase;
  font-weight: bolder;
  color: #e9e3f0;
}
.dark button:hover {
  background: #e9e3f0;
  color: #1a1534;
}
.dark .eachDragon {
  background-color: #3E375F;
  box-shadow: 5px 5px 5px 1px #52487c;
}
.dark .container {
  background-color: #1a1534;
  box-shadow: 10px 20px 10px 5px #52487c;
}
.dark .navbar,
.dark footer {
  background-color: #1a1534;
  box-shadow: 10px 5px 10px #302a53;
}
.dark .link {
  color: #e9e3f0;
}
.dark .modal-content {
  background-color: #3E375F;
}

.light {
  background-color: #958b9e;
}
.light button {
  background: 0 0;
  font: 11px;
  font-family: "Klee One", cursive;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid #302D3D;
  border-radius: 4px;
  text-align: center;
  margin-left: 60px;
  box-shadow: 5px 5px 5px #302D3D;
  text-transform: uppercase;
  font-weight: bolder;
  color: #302D3D;
}
.light button:hover {
  background: #302D3D;
  color: #302D3D;
}
.light .eachDragon {
  background-color: #d3cbdb;
  box-shadow: 5px 5px 5px 1px #6e6576;
}
.light .container {
  background-color: #E5E0EA;
  box-shadow: 10px 20px 10px 5px #6e6576;
}
.light .navbar,
.light footer {
  box-shadow: 10px 10px 10px #786d86;
  background-color: #958b9e;
}
.light .link {
  color: #302D3D;
}
.light .modal-content {
  background-color: #E5E0EA;
}

@media only screen and (min-width: 768px) {
  .navbar {
    display: flex;
  }
}/*# sourceMappingURL=App.css.map */