@import url('https://fonts.googleapis.com/css2?family=Charm&family=Edu+NSW+ACT+Foundation:wght@500&family=Klee+One:wght@600&family=Shadows+Into+Light&display=swap');
//scss variables
//Fonts
$charm:'Charm',cursive;
$edu-nsw:'Edu NSW ACT Foundation', cursive;
$body-font:'Klee One', cursive;
$shadows:'Shadows Into Light', cursive;

// Light mode
$primary-light-color:#E5E0EA;
$secondary-light-color: #958b9e;
$font-light-color:#302D3D;
$accent-dark:#ad8200;
//Dark Mode
$primary-dark-color:#3E375F;
$secondary-dark-color: #1a1534;
$font-dark-color:#e9e3f0;
$accent-dark:#EEBA1E;

#body{
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.list {
  list-style: none;
  margin: 20px;

}

.link {
  text-decoration: none;
  font-family: $body-font;
}

.container {
  text-align: center;
}

.footer-images{
  height: auto;
}

footer{
  width:100%;
  height:100px;
  margin-top: auto;
  img{
    z-index:55;
  }
}

/* Dark and light themes */
.dark {
  background-color: $primary-dark-color;
  color: $font-dark-color;
  .navbar,
  footer{
    background-color: $secondary-dark-color;
  }
  .link{
    color:$font-dark-color;
  }
}

.light {
  background-color: $primary-light-color;
  .navbar,
  footer{
    background-color: $secondary-light-color;
  }
  .link{
    color:$font-light-color;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    display: flex;
  }
}