//font and color variables
@import "variables.scss";
@import "rules.scss";

#body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: $charm;
}

h2,
h3 {
  font-family: $body-font;
}

.navbar {
  position: sticky;
  top: 0;
}

.container {
  text-align: center;
  margin: 3%;
  background-color: beige;
  padding: 75px;
  border-radius: 15%;
}

.gallery {
  text-align: center;
  //overflow: scroll;

}

.footer-images {
  height: auto;
}

footer {
  width: 100%;
  height: 100px;
  margin-top: auto;

  img {
    z-index: 55;
  }
}

/* Dark and light themes */
.dark {
  background-color: $secondary-dark-color;
  color: $font-dark-color;

  button {
    @include button($font-dark-color, $secondary-dark-color)
  }

  .container {
    background-color: $primary-dark-color;
  }

  .navbar,
  footer {
    background-color: $secondary-dark-color;
  }

  .link {
    color: $font-dark-color;
  }
}

.light {
  background-color: $secondary-light-color;

  button {
    @include button ($secondary-light-color, $font-light-color)
  }

  .container {
    background-color: $primary-light-color;
  }

  .navbar,
  footer {
    background-color: $secondary-light-color;
  }

  .link {
    color: $font-light-color;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    display: flex;
  }
}