//font and color variables
@import "variables.scss";
@import "rules.scss";

#body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: $charm;
}

h2,
h3 {
  font-family: $body-font;
}

nav {
  position: sticky;
  top: 0;
  z-index: 40;
}

header {
  position: sticky;
  top: 135px;
  display: flex;

  .header-images {
    position: absolute;
    top: -20px;
    height: 350px;
  }

  #right-light,
  #right-dark {
    right: 0;
  }
}

.container {
  text-align: center;
  margin-top: 3%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 3%;
  background-color: beige;
  padding: 75px;
  border-radius: 15%;

}

.gallery {
  text-align: center;
  //overflow: scroll;

}

footer {
  width: 100%;
  height: 100px;
  bottom: 0;
  display: flex;
  position: sticky;
  bottom: 0;

  .copyright {
    position: absolute;
    left: 40%;
  }

  .footer-images {
    position: absolute;
    bottom: 0;
    height: 350px;
  }

  #right-light,
  #right-dark {
    right: 0;
  }
}

/* Dark and light themes */
// DARK THEME
.dark {
  background-color: $primary-dark-color;
  color: $font-dark-color;

  button {
    @include button($font-dark-color, $secondary-dark-color)
  }

  .eachDragon {
    background-color: $primary-dark-color;
    box-shadow: 5px 5px 5px 1px #52487c;
  }

  .container {
    background-color: $secondary-dark-color;
    box-shadow: 10px 20px 10px 5px #52487c;
  }

  .navbar,
  footer {
    background-color: $secondary-dark-color;
    box-shadow: 10px 5px 10px #302a53;
  }

  .link {
    color: $font-dark-color;
  }
}

// LIGHT THEME
.light {
  background-color: $secondary-light-color;

  button {
    @include button ($secondary-light-color, $font-light-color)
  }

  .eachDragon {
    background-color: #d3cbdb;
    box-shadow: 5px 5px 5px 1px #6e6576;
  }

  .container {
    background-color: $primary-light-color;
    box-shadow: 10px 20px 10px 5px #6e6576;
  }

  .navbar,
  footer {
    box-shadow: 10px 10px 10px #786d86;
    background-color: $secondary-light-color;
  }

  .link {
    color: $font-light-color;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    display: flex;
  }
}