//font and color variables
@import "variables.scss";

#body{
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.list {
  list-style: none;
  margin: 20px;

}

.link {
  text-decoration: none;
  font-family: $body-font;
}

.container {
  text-align: center;
}

.footer-images{
  height: auto;
}

footer{
  width:100%;
  height:100px;
  margin-top: auto;
  img{
    z-index:55;
  }
}

/* Dark and light themes */
.dark {
  background-color: $primary-dark-color;
  color: $font-dark-color;
  .navbar,
  footer{
    background-color: $secondary-dark-color;
  }
  .link{
    color:$font-dark-color;
  }
}

.light {
  background-color: $primary-light-color;
  .navbar,
  footer{
    background-color: $secondary-light-color;
  }
  .link{
    color:$font-light-color;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    display: flex;
  }
}